<!DOCTYPE html>
<html>
  <head>
<% include partials/template/head.ejs %>
  </head>
  <body>
   <% include partials/template/navbar.ejs %>
   <% include partials/template/header.ejs %>
   <% include partials/template/about.ejs %>
   <% include partials/template/contributors.ejs %>
   <% include partials/template/skills.ejs %>
   <% include partials/template/footer.ejs %>

   <% include partials/template/jsdefaults.ejs %>
  </body>
</html>
