<!-- About Area -->
    <div class="whyjoinarea">
        <div class="spacer"></div>
        <h1>Here's why you should join our open source community right now:</h1>
        <div class="spacer"></div>
        <ul>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll get help in real time from our community chat rooms.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll meet up with other coders in your city.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll learn to code at your own pace, in your browser or on your phone.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll work through our focused, interactive courses and tutorials.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll learn state-of-the-art full stack JavaScript technologies.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll build projects that help nonprofits carry out their missions more effectively.</li>
            <li><i class="fa fa-code" aria-hidden="true"></i> You'll assemble a portfolio of real apps used by real people</li>
        </ul>
        <div class="spacer"></div>
    </div>