  <!-- Footer Area -->
    <div class="footerarea">
        <p>This site is maintained by the students of Free Code Camp Dallas.
            <br/> Want to contribute or add a feature? Fork us here:
            <a href="https://github.com/freecodecampdallas/freecodecampdallas.github.io/issues" target="_blank">@freecodecampdallas</a>
        </p>
    </div>