<!-- Main Area -->
    <div class="mainarea">
        <div class="spacer"></div>
        <img src="/images/FCClogo.png" alt="Free Code Camp Logo" class="fcclogo img-responsive" />
        <h2>Learn To Code With Your Neighbors</h2>
        <img src="/images/Dallas_Skyline.svg" alt="Dallas Skyline" class="dallasskyline img-responsive" />
    </div>