<!-- About Area -->
    <div class="whyjoinarea">
        <div class="spacer"></div>
        <h1>Job Board:</h1>
        <div class="spacer"></div>
        <ul>
            <li><a href="http://codepen.io/jobs/" target="_blank">Codepen</a></li>
            <li><a href="http://www.wphired.com/" target="_blank">WPHired</a></li>
            <li><a href="https://weworkremotely.com/" target="_blank">We Work Remotely</a></li>
            <li><a href="https://www.upwork.com/" target="_blank">UpWork</a></li>
            <li><a href="https://github.com/lukasz-madon/awesome-remote-job" target="_blank">MORE AWESOME REMOTE JOBS</a></li>
        </ul>
        <div class="spacer"></div>
    </div>