<!-- Skills Learned -->
    <div class="skillslearned row">
        <div class="spacer"></div>
        <h1><i class="fa fa-code" aria-hidden="true"></i> Skills You Will Learn <i class="fa fa-code" aria-hidden="true"></i></h1>
        <div class="col-sm-4"><i class="ion-social-html5 skillsicon" aria-hidden="true"></i>
            <h3>HTML5</h3></div>
        <div class="col-sm-4"><i class="ion-social-css3 skillsicon" aria-hidden="true"></i>
            <h3>CSS3</h3></div>
        <div class="col-sm-4"><i class="ion-social-javascript skillsicon" aria-hidden="true"></i>
            <h3>JAVASCRIPT &amp; JQUERY</h3></div>
    </div>